
.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
  align-content: center;
  align-items: center;
}

.login-container {
  padding: 15px;
  margin-top: 80%;
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: rgb(253, 253, 253);
}

.login-text {
  padding: 15px 0px;
}

.lp-svg {
  width: 250px;
  height: 250px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-image: url('./assets/lp-logo.svg');
}

.polygon {
  z-index: -1;
  top: 0%;
  left: 0%;
  position: fixed;
  width: 100%;
    height: 100%;
  background-color: #90a4ae;
  background-size: cover;
  clip-path: polygon(100% 0%, 100% 98%, -50% 35%, 100% 50%, -75% -50%, 75% 200%, 95% 40%);
}

.polygon2 {
  z-index: -1;
  top: 5%;
  left: 0%;
  position: fixed;
  width: 100%;
    height: 100%;
  background-color: #7794be;
  background-size: cover;
  clip-path: polygon(100% 70%, 100% 98%);
}